#Chat {
    border: 1px solid grey;
    font-family: monospace;
    width: 400px;
    height: 480px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#History {
    flex-grow: 1;
    padding: 5px;
    white-space: pre-wrap;
    overflow-y: auto;
}

#Message {
    width: inherit;
}
