#Root {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Stream {max-width: 100%;align-self: center;flex-shrink: 0;object-fit: contain;}

#Chat {
    border: 1px solid grey;
    font-family: monospace;
    min-height: 200px;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#History {
    flex-grow: 1;
    padding: 5px;
    white-space: pre-wrap;
    overflow-y: auto;
}

#Message {
    width: inherit;
}

