<html>
<head>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script>
		var socket = null;
		window.onload = function () {
			socket = io.connect();

			socket.on('chat', function (message) {
			    add(message);
			    if (!focus) unreads++;
			    update_title();
			});

			document.onfocus = function () { focus = true; unreads = 0; update_title(); };
			document.onblur = function () { focus = false; };

			document.querySelector('#Message').onkeypress = key;
		};

		function update_title() {
			document.title = (unreads  ? '('+unreads+') ' : '') + 'chincam';
		}

		var focus = true;
		var unreads = 0;

		function add(message) {
		    var chat = document.querySelector('#Chat');
		    chat.innerHTML += message + '\n';
		    chat.scrollTo(0,chat.scrollHeight);
		}

		function key(e) {
			if (e.which === 13) {
				var name = document.querySelector('#Name').value;
				var m = (name ? '[' + name + '] ' : '') + e.target.value;
				socket.emit('message', m);
				e.target.value = '';
			}
		}
	</script>
	<title>chincam</title>
</head>
<body style="background-color: #333; color: white; ">
	<div style="height: 100%; display: flex; justify-content: center; align-items: center; ">
		<img src="https://chin.kyleperik.com/img/" />
		<div style="
			border: 1px solid grey;
			font-family: monospace;
			width: 400px;
			height: 480px;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
		">
			<input type="text" id="Name" placeholder="name"/>
			<div style="flex-grow: 1; padding: 5px; white-space: pre-wrap; overflow-y: auto" id="Chat"></div>
			<input type="text" style="width: inherit;" id="Message" />
		</div>
	</div>
</body>
</html>